### Java ###
*.class
*.jar
*.war
*.ear
.mtj.tmp/
hs_err_pid*

### Package Files ###
*.nar
*.zip
*.tar.gz
*.rar

### Maven ###
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
.mvn/*

### Eclipse ###
.metadata
.classpath
.project
.settings/
bin/
tmp/
*.tmp
*.bak
*.swp
*~.nib
local.properties
.loadpath

### STS ###
.apt_generated
.factorypath
.springBeans
.sts4-cache
mvnw.*

### IntelliJ ###
.idea/
*.iml
*.ipr
*.iws
out/
.idea_modules/

### NetBeans ###
nbproject/private/
build/
nbbuild/
dist/
nbdist/
nbactions.xml
nb-configuration.xml
.nb-gradle/

### VS Code ###
.vscode/

### BlueJ files ### 
*.ctxt

### Log file ### 
*.log

### OS X ### 
.DS_Store
.AppleDouble
.LSOverride

### Folders ###
*.metadata
*.metadata/
.metadata/
/.project

# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk

# Thumbnails
._*

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk
